PLD/App/Produccion/PLD/BIM.PLD.Website/Service References/ConfiguracionPLDServices/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40300/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" />
  <xs:element name="InsertarConfiguracionPLD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="oConfiguracionPLD" nillable="true" type="q1:ConfiguracionPLD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarConfiguracionPLDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="InsertarConfiguracionPLDResult" nillable="true" type="q2:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoBusquedaConfiguracionPLD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intTipoTipificacionID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="sintSistemaID" nillable="true" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoBusquedaConfiguracionPLDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="ListadoBusquedaConfiguracionPLDResult" nillable="true" type="q3:ArrayOfConfiguracionPLD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarConfiguracionPLD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="_datos" nillable="true" type="q4:ConfiguracionPLD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarConfiguracionPLDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="editarConfiguracionPLDResult" nillable="true" type="q5:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarConfiguracionPLD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intTipoTipificacionID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="sintSistemaID" nillable="true" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarConfiguracionPLDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="eliminarConfiguracionPLDResult" nillable="true" type="q6:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>