PLD/App/Desarrollo/Desa01/PLD/BIM.PLD.Website/Service References/wcfFovissste/RecibeAvaluosWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://avaluoswebservice.fovissste.com.mx/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://avaluoswebservice.fovissste.com.mx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://avaluoswebservice.fovissste.com.mx/">
      <s:element name="RecibirAvaluos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecibirAvaluosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecibirAvaluosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecibirAvaluosSoapIn">
    <wsdl:part name="parameters" element="tns:RecibirAvaluos" />
  </wsdl:message>
  <wsdl:message name="RecibirAvaluosSoapOut">
    <wsdl:part name="parameters" element="tns:RecibirAvaluosResponse" />
  </wsdl:message>
  <wsdl:portType name="RecibeAvaluosWebServiceSoap">
    <wsdl:operation name="RecibirAvaluos">
      <wsdl:input message="tns:RecibirAvaluosSoapIn" />
      <wsdl:output message="tns:RecibirAvaluosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecibeAvaluosWebServiceSoap" type="tns:RecibeAvaluosWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibirAvaluos">
      <soap:operation soapAction="http://avaluoswebservice.fovissste.com.mx/RecibirAvaluos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecibeAvaluosWebServiceSoap12" type="tns:RecibeAvaluosWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecibirAvaluos">
      <soap12:operation soapAction="http://avaluoswebservice.fovissste.com.mx/RecibirAvaluos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecibeAvaluosWebService">
    <wsdl:port name="RecibeAvaluosWebServiceSoap" binding="tns:RecibeAvaluosWebServiceSoap">
      <soap:address location="http://avaluoswebservicesqa.fovissste.com.mx/RecibeAvaluosWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RecibeAvaluosWebServiceSoap12" binding="tns:RecibeAvaluosWebServiceSoap12">
      <soap12:address location="http://avaluoswebservicesqa.fovissste.com.mx/RecibeAvaluosWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>