PLD/App/Produccion/PLD/BIM.PLD.Website/Service References/TipoListaNegraService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CatTipoListaNegra">
    <xs:sequence>
      <xs:element minOccurs="0" name="VCDDESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="intTipoListaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="intTipoTipificacionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="vchPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchTipoLista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchTipoTipificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatTipoListaNegra" nillable="true" type="tns:CatTipoListaNegra" />
  <xs:complexType name="ServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultValue" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ServiceOk" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResult" nillable="true" type="tns:ServiceResult" />
  <xs:complexType name="ArrayOfCatTipoListaNegra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatTipoListaNegra" nillable="true" type="tns:CatTipoListaNegra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatTipoListaNegra" nillable="true" type="tns:ArrayOfCatTipoListaNegra" />
</xs:schema>