PLD/App/Preproduccion/PLD/BIM.PLD.Website/Service References/TipoCambioServices/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoCambio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoCambio" nillable="true" type="tns:TipoCambio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoCambio" nillable="true" type="tns:ArrayOfTipoCambio" />
  <xs:complexType name="TipoCambio">
    <xs:sequence>
      <xs:element minOccurs="0" name="datFechaCierre" type="xs:dateTime" />
      <xs:element minOccurs="0" name="decValorCambio" type="xs:decimal" />
      <xs:element minOccurs="0" name="iTipoCambio" type="xs:int" />
      <xs:element minOccurs="0" name="iTipoMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="strTipoCambio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTipoMoneda" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCambio" nillable="true" type="tns:TipoCambio" />
</xs:schema>