PLD/App/Preproduccion/PLD/BIM.PLD.Website/Service References/TipoCambioServices/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40600/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" />
  <xs:element name="getListadoTipoCambio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoTipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="getListadoTipoCambioResult" nillable="true" type="q1:ArrayOfTipoCambio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertaTCManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="modelo" nillable="true" type="q2:TipoCambio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertaTCManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertaTCManualResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertaTCAutomatico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="lst" nillable="true" type="q3:ArrayOfTipoCambio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertaTCAutomaticoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertaTCAutomaticoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>