PLD/App/Desarrollo/Desa01/PLD/BIM.PLD.Website/Service References/TipoCambioServices/TipoCambioServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TipoCambioServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITipoCambioServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:40600/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:40600/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:40600/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITipoCambioServices_getListadoTipoCambio_InputMessage">
    <wsdl:part name="parameters" element="tns:getListadoTipoCambio" />
  </wsdl:message>
  <wsdl:message name="ITipoCambioServices_getListadoTipoCambio_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListadoTipoCambioResponse" />
  </wsdl:message>
  <wsdl:message name="ITipoCambioServices_insertaTCManual_InputMessage">
    <wsdl:part name="parameters" element="tns:insertaTCManual" />
  </wsdl:message>
  <wsdl:message name="ITipoCambioServices_insertaTCManual_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertaTCManualResponse" />
  </wsdl:message>
  <wsdl:message name="ITipoCambioServices_insertaTCAutomatico_InputMessage">
    <wsdl:part name="parameters" element="tns:insertaTCAutomatico" />
  </wsdl:message>
  <wsdl:message name="ITipoCambioServices_insertaTCAutomatico_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertaTCAutomaticoResponse" />
  </wsdl:message>
  <wsdl:portType name="ITipoCambioServices">
    <wsdl:operation name="getListadoTipoCambio">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoCambioServices/getListadoTipoCambio" message="tns:ITipoCambioServices_getListadoTipoCambio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoCambioServices/getListadoTipoCambioResponse" message="tns:ITipoCambioServices_getListadoTipoCambio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertaTCManual">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoCambioServices/insertaTCManual" message="tns:ITipoCambioServices_insertaTCManual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoCambioServices/insertaTCManualResponse" message="tns:ITipoCambioServices_insertaTCManual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertaTCAutomatico">
      <wsdl:input wsaw:Action="http://tempuri.org/ITipoCambioServices/insertaTCAutomatico" message="tns:ITipoCambioServices_insertaTCAutomatico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITipoCambioServices/insertaTCAutomaticoResponse" message="tns:ITipoCambioServices_insertaTCAutomatico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITipoCambioServices" type="tns:ITipoCambioServices">
    <wsp:PolicyReference URI="#NetTcpBinding_ITipoCambioServices_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getListadoTipoCambio">
      <soap12:operation soapAction="http://tempuri.org/ITipoCambioServices/getListadoTipoCambio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertaTCManual">
      <soap12:operation soapAction="http://tempuri.org/ITipoCambioServices/insertaTCManual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertaTCAutomatico">
      <soap12:operation soapAction="http://tempuri.org/ITipoCambioServices/insertaTCAutomatico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TipoCambioServices">
    <wsdl:port name="NetTcpBinding_ITipoCambioServices" binding="tns:NetTcpBinding_ITipoCambioServices">
      <soap12:address location="net.tcp://localhost:40690/TipoCambioServices" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:40690/TipoCambioServices</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>