PLD/App/Desarrollo/Desa01/PLD/BIM.PLD.Website/Service References/ConfiguracionPLDServices/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConfiguracionPLD">
    <xs:sequence>
      <xs:element minOccurs="0" name="bitBitacora" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitBloqueoProceso" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitBloqueoUsuario" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitEnvioCorreo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="intTipoTipificacionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sintSistemaID" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="vchCorreosCC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchCorreosPara" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchIdentificadorInterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchNombreSistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchbitBitacora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchbitBloqueoProceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchbitBloqueoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchbitEnvioCorreo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfiguracionPLD" nillable="true" type="tns:ConfiguracionPLD" />
  <xs:complexType name="ServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultValue" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ServiceOk" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResult" nillable="true" type="tns:ServiceResult" />
  <xs:complexType name="ArrayOfConfiguracionPLD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConfiguracionPLD" nillable="true" type="tns:ConfiguracionPLD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfiguracionPLD" nillable="true" type="tns:ArrayOfConfiguracionPLD" />
</xs:schema>