PLD/App/Desarrollo/Desa01/PLD/BIM.PLD.Website/Service References/ListaNegraService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" />
  <xs:element name="InsertarListaNegra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="oListaNegra" nillable="true" type="q1:ListaNegra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarListaNegraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="InsertarListaNegraResult" nillable="true" type="q2:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaListasNegras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iProveedorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargaListasNegrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="CargaListasNegrasResult" nillable="true" type="q3:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSistemasPLD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSistemasPLDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="ListarSistemasPLDResult" nillable="true" type="q4:ArrayOfSistemasPLD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="almacenarArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fuente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="almacenarArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="almacenarArchivoResult" nillable="true" type="q5:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="ListarProveedoresResult" nillable="true" type="q6:ArrayOfProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="insertarProveedorResult" nillable="true" type="q7:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoListaPLD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoListaPLDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="ListarTipoListaPLDResult" nillable="true" type="q8:ArrayOfTipoLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarTipoLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="datosTipoLista" nillable="true" type="q9:ArrayOfTipoListaCat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarTipoListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="InsertarTipoListaResult" nillable="true" type="q10:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>