PLD/App/Desarrollo/Desa01/PLD/BIM.PLD.Website/Service References/TipoListaNegraService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40500/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" />
  <xs:element name="InsertarTipoListaNegra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="oCatTipoListaNegra" nillable="true" type="q1:CatTipoListaNegra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarTipoListaNegraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="InsertarTipoListaNegraResult" nillable="true" type="q2:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoBusquedaTipoListaNegra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intTipoTipificacionID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="vchTipoLista" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoBusquedaTipoListaNegraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="ListadoBusquedaTipoListaNegraResult" nillable="true" type="q3:ArrayOfCatTipoListaNegra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarTipoListaNegra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="_datos" nillable="true" type="q4:CatTipoListaNegra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarTipoListaNegraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="editarTipoListaNegraResult" nillable="true" type="q5:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoListaNegra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intTipoListaID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoListaNegraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="eliminarTipoListaNegraResult" nillable="true" type="q6:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerExisteciaRegistroTipoListaNegra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intTipoTipificacionID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="vchTipoLista" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerExisteciaRegistroTipoListaNegraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="LeerExisteciaRegistroTipoListaNegraResult" nillable="true" type="q7:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarTipoTipificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="oCatTipoListaNegra" nillable="true" type="q8:CatTipoListaNegra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarTipoTipificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="InsertarTipoTipificacionResult" nillable="true" type="q9:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarTipoTipificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="_datos" nillable="true" type="q10:CatTipoListaNegra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarTipoTipificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="editarTipoTipificacionResult" nillable="true" type="q11:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerExisteciaRegistroTipoTipificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VCDDESCRIPCION" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerExisteciaRegistroTipoTipificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="LeerExisteciaRegistroTipoTipificacionResult" nillable="true" type="q12:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>