PLD/App/Desarrollo/Desa01/PLD/BIM.PLD.Website/Service References/BitacoraPLDServices/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBitacoraPLD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BitacoraPLD" nillable="true" type="tns:BitacoraPLD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBitacoraPLD" nillable="true" type="tns:ArrayOfBitacoraPLD" />
  <xs:complexType name="BitacoraPLD">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCorreo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="bitAutorizado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitEstatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitHistorial" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitHomonimo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitProceso" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="datFecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="datFechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="intBitacoraID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="intSistemaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="intTipoTipificacionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="intVigenciaDias" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="vchApMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchApPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchComentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchCorreoHCM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchIdentificadorInterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchNombreSistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchPersonaIncidencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchRelacionCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchTipoLista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuarioAutoriza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuarioNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BitacoraPLD" nillable="true" type="tns:BitacoraPLD" />
  <xs:complexType name="desbloqueoBitacoraPLD">
    <xs:sequence>
      <xs:element minOccurs="0" name="bitAutorizado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitHomonimo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="bitProceso" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="datFechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="intBitacoraID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="intVigenciaDias" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="vchComentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuarioAutoriza" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="desbloqueoBitacoraPLD" nillable="true" type="tns:desbloqueoBitacoraPLD" />
  <xs:complexType name="ServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultValue" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ServiceOk" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResult" nillable="true" type="tns:ServiceResult" />
</xs:schema>