PLD/App/Preproduccion/PLD/BIM.PLD.Website/Service References/BitacoraPLDServices/BitacoraPLDServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BitacoraPLDServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBitacoraPLDServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:40400/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:40400/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:40400/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBitacoraPLDServices_ListadoBusquedaBitacoraPLD_InputMessage">
    <wsdl:part name="parameters" element="tns:ListadoBusquedaBitacoraPLD" />
  </wsdl:message>
  <wsdl:message name="IBitacoraPLDServices_ListadoBusquedaBitacoraPLD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoBusquedaBitacoraPLDResponse" />
  </wsdl:message>
  <wsdl:message name="IBitacoraPLDServices_desbloquearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:desbloquearUsuario" />
  </wsdl:message>
  <wsdl:message name="IBitacoraPLDServices_desbloquearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:desbloquearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IBitacoraPLDServices_editarBitacoraPLD_InputMessage">
    <wsdl:part name="parameters" element="tns:editarBitacoraPLD" />
  </wsdl:message>
  <wsdl:message name="IBitacoraPLDServices_editarBitacoraPLD_OutputMessage">
    <wsdl:part name="parameters" element="tns:editarBitacoraPLDResponse" />
  </wsdl:message>
  <wsdl:portType name="IBitacoraPLDServices">
    <wsdl:operation name="ListadoBusquedaBitacoraPLD">
      <wsdl:input wsaw:Action="http://tempuri.org/IBitacoraPLDServices/ListadoBusquedaBitacoraPLD" message="tns:IBitacoraPLDServices_ListadoBusquedaBitacoraPLD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBitacoraPLDServices/ListadoBusquedaBitacoraPLDResponse" message="tns:IBitacoraPLDServices_ListadoBusquedaBitacoraPLD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="desbloquearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IBitacoraPLDServices/desbloquearUsuario" message="tns:IBitacoraPLDServices_desbloquearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBitacoraPLDServices/desbloquearUsuarioResponse" message="tns:IBitacoraPLDServices_desbloquearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editarBitacoraPLD">
      <wsdl:input wsaw:Action="http://tempuri.org/IBitacoraPLDServices/editarBitacoraPLD" message="tns:IBitacoraPLDServices_editarBitacoraPLD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBitacoraPLDServices/editarBitacoraPLDResponse" message="tns:IBitacoraPLDServices_editarBitacoraPLD_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBitacoraPLDServices" type="tns:IBitacoraPLDServices">
    <wsp:PolicyReference URI="#NetTcpBinding_IBitacoraPLDServices_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ListadoBusquedaBitacoraPLD">
      <soap12:operation soapAction="http://tempuri.org/IBitacoraPLDServices/ListadoBusquedaBitacoraPLD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="desbloquearUsuario">
      <soap12:operation soapAction="http://tempuri.org/IBitacoraPLDServices/desbloquearUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarBitacoraPLD">
      <soap12:operation soapAction="http://tempuri.org/IBitacoraPLDServices/editarBitacoraPLD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BitacoraPLDServices">
    <wsdl:port name="NetTcpBinding_IBitacoraPLDServices" binding="tns:NetTcpBinding_IBitacoraPLDServices">
      <soap12:address location="net.tcp://localhost:40490/BitacoraPLDServices" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:40490/BitacoraPLDServices</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>