PLD/App/Preproduccion/PLD/BIM.PLD.Website/Service References/BitacoraPLDServices/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40400/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" />
  <xs:element name="ListadoBusquedaBitacoraPLD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="bitacora" nillable="true" type="q1:BitacoraPLD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoBusquedaBitacoraPLDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="ListadoBusquedaBitacoraPLDResult" nillable="true" type="q2:ArrayOfBitacoraPLD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="desbloquearUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="parametros" nillable="true" type="q3:BitacoraPLD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="desbloquearUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="desbloquearUsuarioResult" nillable="true" type="q4:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarBitacoraPLD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="parametros" nillable="true" type="q5:BitacoraPLD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarBitacoraPLDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="editarBitacoraPLDResult" nillable="true" type="q6:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>