PLD/App/Desarrollo/Desa01/PLD/BIM.PLD.Website/Service References/CatalogosServices/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" />
  <xs:element name="ListarCatalogoTipoListaNegra">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCatalogoTipoListaNegraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="ListarCatalogoTipoListaNegraResult" nillable="true" type="q1:ArrayOfCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoCatAccionesPLD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoCatAccionesPLDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="ListadoCatAccionesPLDResult" nillable="true" type="q2:ArrayOfCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoCatTipoLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoCatTipoListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="ListadoCatTipoListaResult" nillable="true" type="q3:ArrayOfCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaBusquedaInteligenteTipoTipificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strDatos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaBusquedaInteligenteTipoTipificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BIM.BusinessEntities" minOccurs="0" name="ListaBusquedaInteligenteTipoTipificacionResult" nillable="true" type="q4:ArrayOfCatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>